.header {
	background: var(--Theme-White-Default, #FFF);
    min-height: 101px;
    padding-left: 15px;
}

input {
  width: 70%;
  height: 35px;
  padding-left: 10px;
  border: 2px solid #949af3;
  border-radius: 5px;
  outline: none;
  background: #f9f8fa;
  color: #7c7a7a;
  
}

